.Front_Page{
    background-color: red;
    background-image: url("./Background.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    opacity:0.9;
}

.Sub_Page {
    border-style: solid;
    border-radius: 50px;
    height: 600px;
    width: 500px;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.Create:hover {
    color:black
}

.Read:hover {
    color:black
}